<!DOCTYPE html>
<head>
	<title> Sign in </title>
</head>
<body>
	<h1>Sign in </h1>
	<form method = "post" action="/signin">
		Email : <input type = "text" name = "email"><br>
		Password : <input type="password" name="password"><br>
		<input type = "submit" name = "Enter">
	</form>
</body>
</html>